:root {
    --main-color: rgb(106, 0, 255);
    --border-color: rgb(90, 90, 90);
}

article {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

/* Projects */
article section {
    width: 70%;
    height: 150px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: auto;
}

.project-title {
    column-count: 2;
}

.project-logo {
    text-align: center;
}

.project-logo img{
    width: 70px;
    height: 70px;
    float: right;
}

.project-name {
    padding: 20px 0px;
}
