:root {
    --main-bg-color: rgb(106, 0, 255);
  }

/* Navigation */

nav.top-nav {
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgb(57, 0, 202);
}

nav [aria-current=page] {
    color:rgb(219, 200, 248);
    border-bottom: .25em solid rgb(219, 200, 248);
}

main {
    margin-top: 100px;
    margin-bottom: 2em;
}

nav.top-nav li {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    user-select: none;
    color: #fff;
    cursor: pointer;
}

nav.top-nav ul {
    list-style: none;
}

nav ul li a {
    color:#fff;
    text-decoration: none;
}

/* Pulldown Menu */ 

nav.top-nav .pulldown-menu {
    display: none;
    position :absolute;
    border: 1px solid white;
    background-color: var(--main-bg-color);
}

nav.top-nav .pulldown-menu li{
    display:block;
}

nav.top-nav li:hover .pulldown-menu{
    display: block;
}