:root {
    --main-color: rgb(106, 0, 255);
}

article {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

/* User profile */

section {
    column-count: 2;
}

.user-profile-image img{
    float:right;
    padding: 0px 20px;
}

#user-profile-content{
    width: 100%;
    float: left;
    margin: 10px;
    padding: 10px;
}

#user-profile-content div {
    padding: 10px;
}

#user-profile-content a{
    text-decoration: none;
}


/* Info icon */

#info-icon {
    font-size: 16px;
    position: relative;
    top: 3px;
    color: rgb(48 48 255);
}

#info-icon:hover,  #info-icon:focus{
    color: rgb(126, 126, 255);
}

#info-content {
    display: none;
    position: absolute;
    width: 200px;
    text-align: justify;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    margin:auto;
    
}